* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.grid-container {
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 10px;
}

.tarjeta {
    width: 400px;
}

img{
    width: 100%;
}